body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
  padding: 1.25rem;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}
header .logo {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}
header .logo h1 {
  font-size: 1.875rem;
}

.logo .iniciales-logo {
  padding: 0.3125rem;
  border: 2px solid #000;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
}

nav {
  text-align: center;
}
nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}
nav li {
  list-style-type: none;
}

.portada-bienvenida {
  display: flex;
  background: linear-gradient(120deg, #dfdada 0%, #e8ebec 100%);
  border: 1px solid black;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}
.portada-bienvenida .contenedor-texto {
  padding: 1.25rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portada-bienvenida .contenedor-img a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.titulo-bienvenida {
  margin-bottom: 10px;
  font-size: 1.5625rem;
  font-weight: 400;
  text-align: center;
}

.contenedor-img img {
  width: 100%;
  height: 100%;
}

.texto-descripcion {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 20px;
  color: #464849;
}

#actividades-fisicas h3 {
  padding: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.actividades {
  padding: 1.25rem;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15.625rem;
  margin: 0 20px;
}
.actividades h4 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.actividades img {
  width: 100%;
}
.actividades:hover {
  transform: scale(1.2);
}

.contenedor-act {
  padding: 1.25rem;
  width: 15.625rem;
  display: flex;
  align-items: center;
}

.horarios-clases {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.titulo-horarios {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding: 0.625rem;
}

.tabla-horarios {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  text-align: center;
}

.main-actividades {
  display: grid;
  grid-template-rows: 15vh repeat(4, 70vh);
}
.main-actividades article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.funcional {
  grid-column: 2/3;
  grid-row: 1;
}
.funcional .imagen1 {
  grid-column: 1/2;
  grid-row: 1;
  padding: 20px;
}

.musculacion {
  grid-column: 2/3;
  grid-row: 2;
}
.musculacion .imagen2 {
  grid-column: 1/2;
  grid-row: 1;
  padding: 20px;
}

.natacion {
  grid-column: 2/3;
  grid-row: 3;
}
.natacion .imagen3 {
  padding: 20px;
  grid-column: 1/2;
  grid-row: 3;
}

.zumba {
  grid-column: 2/3;
  grid-row: 4;
}
.zumba .imagen4 {
  padding: 20px;
  grid-column: 1/2;
  grid-row: 4;
  width: 100%;
}

.tituloPrincipal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding: 0.625em;
}

.tituloDiv {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  padding: 0.625em;
}

.subtituloDiv {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  padding: 0.625em;
}
.subtituloDiv .spanNew {
  font-weight: bold;
  color: orange;
}

.textos {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.625em;
}

.contenedor-form {
  border: 1px solid black;
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.contenedor-form #tituloForm {
  text-align: center;
  background: linear-gradient(120deg, #dfdada 0%, #e8ebec 100%);
  padding: 0.625em;
}
.contenedor-form .subTexto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.inicioForm {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg, #dfdada 0%, #e8ebec 100%);
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tituloTarjeta {
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
  font-weight: normal;
  font-size: 1.25rem;
  padding-left: 0.625em;
  text-align: center;
}

.inicioUbi {
  text-align: center;
}
.inicioUbi .tituloUbi {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
}

.clickUbi {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
}

footer {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  grid-area: footer;
}
footer .contenedor-f {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .contenedor-f .titulos-footer {
  font-weight: bold;
  font-size: 0.8em;
}

.bi-youtube {
  color: red;
}

.bi-instagram {
  color: brown;
}

@media (max-width: 320px) {
  .header .logo {
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
  }
  .header .logo h1 {
    font-size: 1.25rem;
  }
  .logo .iniciales-logo {
    padding: 5px;
    display: inline-block;
    font-size: 10px;
    margin-bottom: 15px;
  }
  nav {
    text-align: center;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 0.6rem;
  }
  .portada-bienvenida {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 35rem;
    grid-template-rows: repeat(2, 30vh);
    grid-template-areas: "titulo" "descripcion" "img";
  }
  .portada-bienvenida .contenedor-texto {
    padding: 10px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .portada-bienvenida .contenedor-img img {
    grid-area: img;
    height: 80%;
    width: 57%;
    display: flex;
  }
  .titulo-bienvenida {
    grid-area: titulo;
    font-size: 1.2rem;
    display: flex;
    text-align: center;
  }
  .texto-descripcion {
    grid-area: descipcion;
    font-size: 0.7rem;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
  }
  .tabla-horarios {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 0.5rem;
  }
  .horarios-clases {
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
  }
  .titulo-horarios {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 0.625rem;
  }
  #actividades-fisicas h3 {
    font-size: 1.2rem;
  }
  .actividades {
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    margin: 0 10px;
  }
  .contenedor-act {
    overflow-x: scroll;
    width: 100%;
  }
  footer {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    align-items: center;
  }
  .titulos-footer {
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    align-items: center;
  }
  .contenedor-f {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    flex-direction: column;
    justify-content: space-around;
  }
  .tituloPrincipal {
    font-size: 1.5rem;
  }
  .tituloDiv {
    font-size: 1rem;
  }
  .subtituloDiv {
    font-size: 0.9rem;
  }
  .textos {
    font-size: 0.8rem;
  }
  .main-actividades img {
    width: 100%;
  }
  .subTexto {
    font-size: 1.8rem;
  }
  form {
    text-align: center;
    font-size: 0.8rem;
  }
  .tituloTarjeta {
    font-size: 1rem;
  }
  .inicioUbi img {
    padding: 20px;
    width: 100%;
  }
  .inicioUbi img .tituloUbi {
    font-size: 1.5rem;
  }
  .clickUbi {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .mainIndex {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "portada portada" "info info" "footer footer";
  }
  .portada-bienvenida {
    grid-area: portada;
  }
  #actividades-fisicas {
    grid-area: info;
  }
  .horarios-clases {
    grid-area: info;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
  }
  .actividades {
    margin: 0 10px;
    display: flex;
    min-width: 10.3125rem;
  }
  .contenedor-img img {
    width: 100%;
    height: 100%;
  }
  .texto-descripcion {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
  }
  footer {
    grid-area: footer;
  }
}
@media (max-width: 1024px) {
  .contenedor-img img {
    height: 100%;
    width: 100%;
  }
  .actividades {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 230px;
    margin: 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */
