

.main-actividades{
    display: grid;
    grid-template-rows: 15vh repeat(4,70vh);
    
    article{
        display:grid;
        grid-template-columns: repeat(2,1fr);
}
}
.funcional{
    grid-column: 2 / 3;
    grid-row: 1 ;

    .imagen1{
        grid-column: 1 / 2;
        grid-row: 1;
        padding: 20px;

        
    
    }
}
.musculacion{
    grid-column: 2 / 3;
    grid-row: 2;

    .imagen2{
        grid-column: 1 / 2;
        grid-row: 1;
    
        padding: 20px;

        
    }

}

.natacion{
    grid-column: 2 / 3;
    grid-row: 3;

    .imagen3{
        padding: 20px;
    
        grid-column: 1 / 2;
        grid-row: 3;

        
        
    }
}

.zumba{
    grid-column: 2 / 3;
    grid-row: 4;


    .imagen4{
        padding: 20px;
    
        grid-column: 1 / 2;
        grid-row: 4;
    
        width: 100%;

    }
}



.tituloPrincipal{
    font-family: $font-family;
    font-size: 2rem;

    padding: 0.625em;
}

.tituloDiv{
    font-family: $font-family;
    font-weight: normal;
    font-size: 1.25rem;

    padding: 0.625em;
}

    

.subtituloDiv{
    font-family: $font-family;
    font-weight: normal;
    font-size: 1rem;

    padding: 0.625em;

    .spanNew{
    font-weight: map-get($estilos,peso) ; 
    color:$color-principal;

  }

}

.textos {
    font-family: $font-family;

    padding: 0.625em;

    
}


