.contenedor-form{
    border: $border-card;
    width: 40%;
    height: 70%;

    display: flex;
    justify-content: map-get($estilos,centro );

    margin: 0 auto;


    #tituloForm{
        text-align: map-get($estilos,centro );
        
        background: $gradiente;
    
        padding: 0.625em;
        
    }

    .subTexto{
    font-family: $font-family;
    font-size: 2rem;
    }
}


.inicioForm{
    font-family: $font-family;
   
    background: linear-gradient(120deg, #dfdada 0%, #e8ebec 100%);
    text-align: map-get($estilos,centro );

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: map-get($estilos,centro );
    align-items: map-get($estilos,centro );
}