.contenedor-form{
    border: 1px solid black;
    width: 40%;
    height: 70%;

    display: flex;
    justify-content: center;

    margin: 0 auto;


    #tituloForm{
        text-align: center;
        
        background: linear-gradient(120deg, #d3cfcfea 0%, #888888c0 100%);
    
        padding: 0.625em;
        
    }

    .subTexto{
    font-family: $font-family;
    font-size: 2rem;
    }
}


.inicioForm{
    font-family: $font-family;
   
    background: linear-gradient(120deg, #dfdada 0%, #e8ebec 100%);
    text-align: center;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}